@page "/person/edit/{id}"
@using Allors.Workspace.Meta
@using Person = Allors.Workspace.Domain.Person
@attribute [Authorize]
@inject IWorkspace Workspace
@inject NavigationManager NavigationManager

@if (person != null)
{
    <ABSForm Model="@person" TValue="Person" OnValidSubmit="@HandleValidSubmit">
        <ValidationSummary />

        <BSRow>
            <BSCol>
                <ABSStringInput RoleType="@M.Person.FirstName" />
            </BSCol>
            <BSCol>
                <ABSStringInput RoleType="@M.Person.LastName" />
            </BSCol>
        </BSRow>

        <BSRow>
            <BSCol>
                <ABSDateInput RoleType="@M.Person.BirthDate" />
            </BSCol>
        </BSRow>

        <BSRow>
            <BSCol>
                <button @onclick="HandleValidSubmit">Submit</button>
            </BSCol>
        </BSRow>

    </ABSForm>
}

@code {
    ISession Session;

    M M => this.Session.Workspace.Services.Get<M>();

    [Parameter]
    public string id { get; set; }

    Person person;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        this.Session = this.Workspace.CreateSession();

        var pull = new Pull
            {
                ObjectId = long.Parse(id)
            };

        var result = await this.Session.PullAsync(pull);

        this.person = result.GetObject<Person>("Person");
    }

    public async System.Threading.Tasks.Task HandleValidSubmit()
    {
        var response = await this.Session.PushAsync();
        if (!response.HasErrors)
        {
            this.NavigationManager.NavigateTo("/person/list");
        }
    }
}
